header{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100px;
    background-color:#2A2D34;
    text-align: center;
    color: white;
}

main{

    overflow: hidden;
    justify-content: center;
    background-color: white;
}

footer{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color:#2A2D34;
    padding-top: 10px;
    color: white;
}
